<ul class=" lg:flex font-bold text-slate-700 text-lg gap-8 lg:gap-14">
    <li class="p-3 lg:border-0 border-t ">
        <a href="[routerLink]=['/']">Home</a>
    </li>
    <li class="p-3 lg:border-0 border-t">
        <a href="[routerLink]=['/all-courses']" routerLinkActive="active" ariaCurrentWhenActive="page">all-courses</a>
    </li>
    <li class="p-3 lg:border-0 border-t">
        <a href="[routerLink]=['/pages']" routerLinkActive="active" ariaCurrentWhenActive="page">pages</a>
    </li>
    <li class="p-3 lg:border-0 border-t">
        <a href="[routerLink]=['/blog']" routerLinkActive="active" ariaCurrentWhenActive="page">blogs</a>
    </li>
    <li class="p-3 lg:border-0 border-y">
        <a href="[routerLink]=['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </li>
</ul>